<div class="ui two column centered grid container">
    <div class="column ">
        <div [ngClass]="{
                black : !hasAnswered,
                green : hasAnswered && isCorrect,
                red : hasAnswered && !isCorrect
            }" class="ui centered fluid card">
            <div class="image">
                <img [attr.src]="challenge.image">
            </div>
            <div class="content">
                <div class="header">
                    <span *ngIf="hasAnswered">{{challenge.title}}</span>
                </div>
                <div class="meta">
                    <span class="date">
                        <span *ngIf="hasAnswered">{{challenge.creator}}</span>
                    </span>
                </div>
                <div class="description" >
                    <div class="ui aligned divided list">
                        <dipinto-question class="item" *ngFor="#question of questions" [question]="question">
                        </dipinto-question>
                    </div>
                    <div class="row">
                        <br/>
                        <button class="ui primary right labeled icon button" (click)="reloadQuestion()">
                            <i class="right arrow icon"></i> Next
                        </button>

                    </div>
                </div>

            </div>
            <div class="extra content">
                <i class="university icon"></i> {{challenge.attribution}} - the Google Art Project
            </div>
        </div>
    </div>
</div>
